/* Modifying h2 so that is displays a purplish background */
h2 {
    background-color: #d0abf2;
    width: 100%;
    display: block;
    padding: 10px 15px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

p {
    font-size: 1.5em;
}

.tab-el-left {
    background-color: rgb(216, 211, 219);
    width: fit-content;
    font-size: 1.5em;
    display: inline-block;
}

.tab-el-center-left {
    background-color: rgb(216, 211, 219);
    width: 150px;
    font-size: 1.5em;
    display: inline-block;
}

.tab-el-center-right {
    background-color: rgb(216, 211, 219);
    width: 450px;
    font-size: 1.5em;
    display: inline-block;
}

.no-margin {
    padding: 0;
    margin: 0;
}

.only-horizontal-margin {
    margin-right: 10px;
    display: inline-block;
}

.margin-top {
    margin-top: 10px;
}

td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* optional spacing between left and right */
}

.left-div {
    flex: 1;
    min-width: 0; /* allows shrinking properly if needed */
}

.right-div {
    flex-shrink: 1;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.right-div img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

h3 {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 20px;
    font-size: 1.3em;
}

.list-element {
    margin-left: 50px;
}

.horizontal-ul {
    display: flex;
    list-style-type: disc;
    padding-left: 0;
}

.horizontal-li {
    margin-right: 20px;
}
